extends layout/main.pug
block style
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/home.css">
block content
    header
        nav 
            ul 
                li 
                    a(href="/") Home 
                li
                    a(href="/add-user") Add User
    
    main 
        ul 
            if users.length > 0
                each user in users 
                    li=user.name
            else 
                h1 No user found!!!!