<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/user">Add User</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/user" method="POST">
            <input type="text" name="name" id="name">
            <button type="submit">Add user</button>
        </form>
    </main>
</body>

</html>