extends layout/main-layout.pug
block styles
        link(rel="stylesheet", href="/css/shop.css")
block content
        header 
            nav
                ul 
                    li
                        a(href="/") Shop
                    li 
                        a(href="admin/add-product") Add Product  

        main 
            h1 Welcome to Sasta D-mart 
            p List of all products
            ul 
                each product in prods 
                    li= product.title
